global_defs {
    router_id           ovp_vrrp
}


{% for server in groups['infra'] %}
vrrp_instance lb_{{ loop.index0 }} {
{% if server == inventory_hostname %}
    state               MASTER
{% else %}
    state               BACKUP
{% endif %}
    interface           eth0
    virtual_router_id   {{ 58 + loop.index0 }}
    advert_int          1
    virtual_ipaddress   {
        {{ public_vips[loop.index0] }}   dev eth0
    }
    authentication {
        auth_type       PASS
        auth_pass       {{ loop.index0 }}-156A954B
    }
}

{% endfor %}

