global_defs {
    router_id           ovp_vrrp
}

vrrp_script haproxy_check {
    script              "killall -0 haproxy"
    interval            2
    weight              2
}

vrrp_instance OCP_Ext {
    interface           eth1
    virtual_router_id   51
    priority            50
    virtual_ipaddress   {
        {{ openshift_master_cluster_public_ip }} dev eth0
    }
    track_script {
        haproxy_check
    }
    authentication {
        auth_type       PASS
        auth_pass       lc0VfENu//5hdUvHEQ=
    }
}

vrrp_instance OCP_Int {
    interface           eth1
    virtual_router_id   52
    priority            50
    virtual_ipaddress   {
        {{ openshift_master_cluster_ip }} dev eth1 
    }
    track_script {
        haproxy_check
    }
    authentication {
        auth_type       PASS
        auth_pass       YA5RGE1kfwbvVZ3VOA=
    }
}


